<!-- The view is currently rendered using hardcoded data. -->
<!DOCTYPE html>

<head>
  <meta charset="UTF-8">
  <title>Tech Blog</title>

  <link rel="stylesheet" href="../public/css/style.css">
</head>

<body>
  <div class="flex-column justify-space-around">
    <header class="display-flex justify-space-between align-center p-2">
      <nav>
        <a href="/">Home</a>
        <a href="/about"> About</a>
        <a href="/contact"> Contact</a>
        <a href="/posts"> Posts</a>
        <a href="/posts/create"> Create Post</a>
      </nav>
      <h1>
        Tech Blog
      </h1>
    </header>
  </div>
</body>

</html>